extends layout

block content
  div
  h1= title
  div 
    table.table
      tr 
          th Cámara
          th(style='width:65px') Conectada
          th Enlace video
            for item in clases
                tr
                    td #{item.device}
                    td(style='color:green') SI 
                    td 
                      a(href=item.link, target="_blank") #{item.video_filename}
  div 
    //- p(style={ color: 'red', background: 'indigo'}) Párrafo en segundo DIV
    p(style=estilos) Status dashboard
